{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
.big {
    font-size: 2rem;
    font-weight: 800;
}

.profile-image {
    height: 128px;
    width: 128px;
    border-radius: 50%;
    object-fit: cover;

    figure {
        margin: 0;

        img {
            height: 128px;
            width: 128px;
            border-radius: 50%;
            object-fit: cover;

            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }


        img:hover {
            cursor: pointer;
            transform: scale(1.1);
            opacity: 0.7;
        }
    }
}

.custom-btn {
    background-color: var(--accent);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 660px) {
    .responsive-form {
        flex-direction: column-reverse !important;

        align-items: center !important;
        width: 100%;
    }

    .form-control-responsive {
        width: 70vw !important;
    }
}

.zoom-custom {
    zoom: 1.1;
}

</style>
{% endblock %}

{% block content %}

<h1 class="big">Perfil</h1>
{%if profile.name %}
<p style="font-weight: 500;">Bienvenido, <span class="fw-bold" style="color: var(--accent); !important;">{{ profile.name }}</span>!</p>
{% else %}
<p style="font-weight: 500;">Bienvenido, <span class="fw-bold" style="color: var(--accent); !important;">{{ user.username }}</span>!</p>
{% endif %}

<div class="zoom-custom">
    <form method="post" class="d-flex flex-column align-items-center" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="d-flex flex-row justify-content-between gap-5 responsive-form">
            <div>
                <div>
                    <label for="name" class="mb-2">Nombre</label>
                    <input class="form-control form-control-responsive px-4 py-2" type="text" id="name" name="name" value="{{ profile.name }}" required>
                </div>

                <div class="mt-3">
                    <label for="username" class="mb-2"">Usuario</label>
                    <input class="form-control form-control-responsive px-4 py-2" type="text" id="username" name="username" value="{{ user.username }}" required>
                </div>

                <div class="mt-3">
                    <label for="email" class="mb-2">Correo electrónico</label>
                    <input class="form-control form-control-responsive px-4 py-2" type="email" id="email" name="email" value="{{ user.email }}" required disabled>
                </div>

                <div class="mt-3">
                    <label for="password" class="mb-2">Contraseña</label>
                    <input class="form-control form-control-responsive px-4 py-2" type="password" id="password" name="password" required disabled value="********">
                </div>
            </div>

            <script>
              function loadProfilePicture() {
                const profilePictureInput = document.getElementById('profile_picture');
                profilePictureInput.click();
              }

              function imagePreview() {
                const profilePictureInput = document.getElementById('profile_picture');
                const profilePicture = profilePictureInput.files[0];
                console.log(profilePicture);
                const reader = new FileReader();

                reader.onload = function(e) {
                  const img = document.querySelector('.profile-image img');
                  img.src = e.target.result;
                };

                if (profilePicture) {
                  reader.readAsDataURL(profilePicture);
                }
              }
            </script>

            <div class="my-auto profile-image">
                <figure>
                    {% if profile.user_image %}
                    <img src="{{ profile.user_image.url }}" alt="Foto de perfil" onclick="loadProfilePicture()">
                    {% else %}
                    <img src="{% static 'images/default.png' %}" alt="Foto de perfil" onclick="loadProfilePicture()">
                    {% endif %}
                </figure>

                <input class="form-control" type="file" id="profile_picture" name="profile_picture" accept="image/*" onchange="imagePreview()" hidden>
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    </form>



</div>

{% endblock %}
